@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    color-scheme: dark;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 28px;
    color: #b4b4b4;
}

h1, h2, h3, h4, h5 {
    color: #ffffff;
}

h1 {
    font-size: 28px;
}

h3 {
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 8px;
    font-size: 14px;
}

p {
    font-size: 14px;
}

a:link, a:visited, a:active {
    color: #b4b4b4;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

select {
    height: 30px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

input {
    padding: 8px;
    border-radius: 6px;
    border: 0px;
    min-width: 200px;
}

input:disabled:hover {
    background-color: #1F1F1F;
}

button {
    background-color: #3B3B3B;
    margin-top: 28px;
    margin-right: 10px;
    padding: 8px 18px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
}

input, button, select, a {
    transition: 200ms;
    outline: 0px;
}

input:hover, button:hover, select:hover {
    background-color: #505050;
}

ul {
    color: #b4b4b4;
    font-size: 14px;
    list-style: none;
    padding: 0;
}